EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=user@gmail.com
EMAIL_HOST_PASSWORD=password
SENDER_EMAIL=user@gmail.com
EBAY_API_URL=https://api.sandbox.ebay.com
EBAY_APP_ID=app_id
EBAY_CERT_ID=cert_id
